# core data ML
pandas
numpy
scikit-learn
xgboost
shap

# api data collect
requests
python-dotenv
huggingface_hub

# ai
groq

# webapp
streamlit

# utils
ipykernel
nbformat

# fast f1
fastf1
requests-cache
matplotlib